<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Grad Issue 2017</title>
    <meta name="description" content="">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Sacramento" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <div class="row">
      <div class="small-12 medium-9 small-centered columns">
        <h3>Upload your image here. max 1000px tall please!</h3>
        <form action="/upload"
        method="post"
        enctype="multipart/form-data">
          <input name="img" type="file" accept=".jpg,.jpeg,.png" />
          <input type="hidden" name="key" value="bruin111">
          <button class="button" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.js"></script>
  </body>
</html>
