body {
  background-color: black;
}

ul {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}

.article-thumbnail {
  background-color: #ed3020;
  text-align: center;
  color: #fff;
}

.article-image {
  position: relative;
  z-index: 2;

  &:hover {
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.section-header {
  color: white;
  font-style: italic;
}

.article-details {
  height: 100%;
  width: inherit;
  position: absolute;

  h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  span {

  }
  p {

  }
}
