$font-stack: "Muli", sans-serif;

body {
  font-family: $font-stack;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  font-weight: 300;
}

em {
  font-style: italic;
}

.blur {
  filter: blur(4px);
}

#map {
  height: 100vh;
  width: 100%;
}

#qna-modal {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.45);

  .container {
    /* TODO: Add margin-right for bigger screens */
    margin-top: 5em;
  }

  h1 {
    line-height: 1.5em;

    a {
      color: #fff;

      span {
        margin-right: 0.3em;
        vertical-align: bottom;
        font-size: 2rem;
      }

      &:hover {
        color: #bbb;
      }
    }
  }

  [contenteditable="true"] {
    padding: 3px;
    outline: 1px dashed #ccc;
  }

  .sidetext {
    margin-top: 1.5em;

    .db {
      font-weight: 800;
      font-size: 0.8em;
    }

    .grad {
      font-family: "Sacramento", cursive;
      font-size: 1.7em;
    }

    h4 {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.textcomplete-dropdown {
  border: 1px solid #ccc;
  background-color: white;
  z-index: 999999 !important;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    border-top: 1px solid #ccc;
    padding: 2px 5px;
    margin: 0.5em;

    p {
      margin-bottom: 0;
      font-size: 0.9rem;
    }

    &:first-child {
      border-top: none;
    }

    a {
      color: inherit;
    }
  }

  li:hover,
  .active {
    background-color: #222;
    color: #fff;
  }

  a:hover {
    cursor: pointer;
  }
}

/** Animations **/

/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
